*{
    margin:0 ;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
   font-family:  'Varela Round ', sans-serif ;
   text-decoration: none !important;
   color: white;
}
html {
    scroll-behavior: smooth;
  }
  /* For WebKit-based browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(103deg, rgba(18,119,224,1) 0%, rgba(36,35,33,0.9754026610644257) 84%);
    border-radius: 3px;
  }
  
 
body{
   
    
    
    /* margin-top: 10px;
    background: #fc4a1a;  
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  *
    background: linear-gradient(to right, #f7b733, #fc4a1a); */
    
    background: #2196f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f75e53, #60b2f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc8880, #70bbf9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    
 
}
 .sec-2 img{
   border-radius: 5px;   
   transition: 1s;  
}
.sec-2 img:hover{
   transform: scaley(1.2);    
}
.sec-3-row::-webkit-scrollbar{
    display: none;
}

 /*----------------- navbar------------ */
 .tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-6 4:22:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


.tracking-in-contract-bck:hover {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-6 4:24:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


.nav-sec-1{
  background: #2195f374;  /* fallback for old browsers */
  background: linear-gradient(103deg, rgba(1, 51, 122, 0.327) 0%, rgba(6, 6, 6, 0.464) 84%);
    backdrop-filter: blur(8px);
    text-align: center !important;
 
}


.nav-hover:hover{
    color: #1d6df7;  
    /* font-size: 17px; */
    transform: scale(1.2);
    /* animation: bounce-in-top 1.1s both; */

 
}
.nav-hover{
    font-size: 16px;
  font-weight: 600;
  transition: .5s ease-in-out;
  text-transform: capitalize;
}



/* ------------bars--------------- */

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: white;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

.bar--middle {
  top: calc(50% - 4px/ 2);
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 4px/ 2);
  transform: rotate(135deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(225deg);
  transition-delay: 0s,calc(0s + 0.35s);
}



/* btn-sec-1 */
.btn-sec-1 {
    --color: #1d6df7;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .btn-sec-1::before, .btn-sec-1::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .btn-sec-1::before {
    top: -1em;
    left: -1em;
   }
   
   .btn-sec-1::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .btn-sec-1:hover::before, .btn-sec-1:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .btn-sec-1:hover {
    color: rgb(228, 239, 243);
   }
   
   .btn-sec-1:active {
    filter: brightness(.8);
   }













   .cards-sec-2 {
    position: relative;
  }
  
  .card-sec-2 {
    z-index: 1;
    position: absolute;
    width: 254px;
    height: 190px;
    border-radius: 10px;
    transition: all .5s ease-out;
    overflow: hidden;
    transform: translateX(0px) translateY(0px) perspective(905px) rotateX(0deg) rotateY(0deg) rotateZ(-8deg);
  }
  
  .card-sec-2.one {
    top: -20px;
    left: -50px;
    background: linear-gradient(180deg, #FF0055 0%, #000066 100%);
  }
  
  .card-sec-2.two {
    top: -5px;
    left: -25px;
    background: linear-gradient(180deg, #fa00ff 0%, #01f998 99%);
  }
  
  .card-sec-2.three {
    top: 20px;
    left: 10px;
    background: linear-gradient(180deg, #c0f901 0%, #fa00ff 100%);
  }
  
  .card-sec-2:hover {
    z-index: 4;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) !important;
    transition: all .5s ease-out;
  }
  
  .card-sec-2Details {
    width: 55%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: rgba(0,0,0,0.8);
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
  }
  
  .card-sec-2:hover .card-sec-2Details {
    transform: perspective(2000px) rotateY(0deg);
  }
  
  .card-sec-2DetailsHaeder {
    font-weight: 600;
    color: #1d6df7;
  }
  
  .card-sec-2DetailsButton {
    padding: 3px 6px;
    border-radius: 25px;
    background-color:#1d6df7 ;
    color: #f4eeee;
    font-weight: 600;
    cursor: pointer;
  }


@media screen and (min-width:992px){
    
    .sec-3{
        margin-top: 400px;
        
    }
}
.sec-3 img{
    transition: .3s linear;
}
.sec-3 img:hover{
    transform: scale(1.1);
}

/* footer */
.footer-icon{
  border: 1px solid white;
  padding: 10px 12px;
  border-radius: 100%;
}
.git:hover{
  border:none;
   background-color: white;
   color: black;
}
.linkedin:hover{
  background-color: rgb(34, 117, 180);
  color: rgb(246, 242, 242);
  border:none;

}
.insta:hover{
  background-color: rgb(185, 60, 126);
  color: rgb(246, 242, 242);
  border:none;

}
.google:hover{
  background-color: rgb(227, 184, 29);
  color: rgb(246, 242, 242);
  border:none;

}
.twiter:hover{
  background-color: rgb(9, 102, 184);
  color: rgb(246, 242, 242);
  border:none;

}
.facebook:hover{
  background-color: rgb(6, 45, 136);
  color: rgb(246, 242, 242);
  border:none;

}



















.tracking-in-contract-bck:hover {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-7 22:52:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}








.bounce-in-top_3 {

  animation: bounce-in-3 1.7s both infinite ease;
  animation-direction: alternate;

  width: 60px;
   height: 60px;
    background: linear-gradient(103deg, rgba(18, 117, 224, 0.579) 0%, rgba(36,35,33,1) 94%);
     filter: blur(8px); 
      z-index: -117;
    
}

@-webkit-keyframes bounce-in-3 {
from{
transform: translatey(5px);
}
to{
transform: translatey(-40px);
}
}



.bounce-in-top_4 {

  animation: bounce-in-4 1.7s both infinite ease;
  animation-direction: alternate;

  width: 150px;
   height: 150px;
    background: linear-gradient(103deg, rgba(18, 117, 224, 0.579) 0%, rgba(36,35,33,1) 94%);
     filter: blur(8px); 
      z-index: -117;
    
}

@-webkit-keyframes bounce-in-4 {
from{
transform: translatey(100px);
}
to{
transform: translatey(-150px);
}
}